<% if user_signed_in? %>
  <h1><%= @user.name %></h1>
  <h2><%= @user.name %></h2>
  <h2>Logged User : <%= @user.name %></h2>

  <%= link_to 'New recipe', new_recipe_path %>
  <div class='recipes-container'>
    <div class='public-recipes-list'>
      <% if @recipes.empty? %>
        <h2>No recipes to show </h2>
      <% else %>
        <% @recipes.each do |recipe| %>
          <div class='recipe-wrapper'>
            <%= render 'recipes/recipeshort', recipe: recipe %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <h1>Unauthorized access, please login to continue!</h1>
  <%= link_to 'Login', new_user_session_path %>
<% end %>