<% content_for :head do %>
  <%= javascript_pack_tag 'togglePublic', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class='recipe-detail-container'>
  <div class='recipe-detail-header'>
    <h2 class='recipe-detail-name'>
      <%= @recipe.name %>
    </h2>

    <div class="recipe-detail-prep">
      <p>
        Preparation time: <%= @recipe.preparation_time %> hour
      </p>
      <div class='recipe-detail-public'>
        <p>Public</p>
        <%= render partial: '_partials/forms/toggle_public' %>
      </div>
    </div>
    <p>
      Cooking time: <%= @recipe.cooking_time %> hour
    </p>
    <p>
      <%= @recipe.description %>
    <p>
  </div>
  <div class='recipe-detail-buttons'>
    <%= link_to general_shopping_lists_path  do %>
      <button class='detail-button' type="button">Generate shopping list</button>
    <% end %>

    <%= link_to new_recipe_recipe_food_path(@recipe.id)  do %>
      <button class='detail-button' type="button">Add ingredient</button>
    <% end %>
  </div>
  <div class='recipe-food-container'>
    <%= render partial: '_partials/recipe_foods/r_food_table' %>
  </div>
</div>
