<% content_for :head do %>
  <%= javascript_pack_tag 'togglePublic', 'data-turbolinks-track': 'reload' %>
<% end %>

<% if can? :read, Recipe && user_signed_in? %>
  <div class='d-flex flex-column'>
    <div class='d-flex flex-column'>
      <h2 class='align-self-center'>
        <%= @recipe.name %>
      </h2>

      <div class="d-flex justify-between">
        <p>
          Preparation time: <%= @recipe.preparation_time %> hour
        </p>
        <%= render partial: '_partials/forms/toggle_public' %>
      </div>
      <p>
        Cooking time: <%= @recipe.cooking_time %> hour
      </p>
      <p>
        <%= @recipe.description %>
      <p>
    </div>
    <div class='d-flex justify-between'>
      <%= link_to general_shopping_lists_path  do %>
        <button type="button">Generate shopping list</button>
      <% end %>

      <%= link_to new_recipe_recipe_food_path(@recipe.id)  do %>
        <button type="button">Add ingredient</button>
      <% end %>
    </div>
    <div class='recipe-food-container'>
      <%= render partial: '_partials/recipe_foods/r_food_table' %>
    </div>
  </div>
<% else %>
  <h1>Unauthorized access, please login to continue!</h1>
  <%= link_to 'Login', new_user_session_path %>
<% end %>
