<div class="create-recipe-form-container">
  <%= form_with url: recipe_recipe_foods_path(@recipe.id), scope: :recipe_food, class: 'create-recipe-form' do |f| %>
  <%= f.hidden_field :recipe_id, value: @recipe.id%>
  <div>
    <%= f.collection_select :food_id, @foods, :id, :name %>
    <%= f.label :food%>
  </div>
  <div>
    <%= f.label :quantity%>
    <%= f.number_field :quantity, class: 'recipe-food-quantity' %>
  </div>
  <%= f.submit "Add Ingredient" %>
<% end %>
</div>